<center>
<table>
  <tr>
    <td><img src="https://portal.nccs.nasa.gov/datashare/astg/training/python/logos/nasa-logo.svg" width="100"/> </td>
     <td><img src="https://portal.nccs.nasa.gov/datashare/astg/training/python/logos/ASTG_logo.png?raw=true" width="80"/> </td>
     <td> <img src="https://www.nccs.nasa.gov/sites/default/files/NCCS_Logo_0.png" width="130"/> </td>
    </tr>
</table>
</center>

        
<center>
<h1><font color= "blue" size="+3">ASTG Python Courses</font></h1>
</center>

---

<CENTER>
<H1>
    <font color="red">Python and SQL</font>
</H1>
</CENTER>

# <font color='red'>Objectives</font>

In this presentation, you will learn to pull data from relational databases straight into your Python workflow.

We will cover the following topics:

- What is a database?
- What is SQL?
- The SQL building blocks.
- Create SQL single-table and multi-table databases.
- Pull data from a database.

# <font color='red'>What is a database?</font>

- A huge collection of data that is stored and retrieved electronically from a system.
- The collected information could be in any number of formats: electronic, printed, graphic, audio, statistical, or combinations of any of them.
- The structured data stored in the database is processed, manipulated, controlled, and updated to perform various operations.
- The database system is typically composed of the information itself and a database management system (DBMS), allowing users to easily access, update, analyze, and manage the information. 

There are many types of databases, including:

- __Relational databases__: Are highly structured and use a programming language called SQL to query the data. Examples include Microsoft SQL Server, SQLite, MySQL, and PostgreSQL. 
- __NoSQL databases__: (nonrelational database) A broad category for databases that do not use the traditional table-based relational model. They allows unstructured and semistructured data to be stored and manipulated.
- __Distributed databases__: Consist of two or more files located in different sites. The database may be stored on multiple computers, located in the same physical location, or scattered over different networks.
- __In-memory databases__: Store data in a device's main memory (RAM) for faster access, making them ideal for real-time applications. 
- __Document/JSON databases__: Store data in a document format, often JSON, instead of rows and columns. 
- __Multimodel databases__: Combine different types of database models (like document, graph, and relational) into a single, integrated back end. 
- __Self-driving databases__: (autonomous databases) Are cloud-based and use machine learning to automate database tuning, security, backups, updates, and other routine management tasks traditionally performed by database administrators.. 

__In this presentation, we focus on relational databases.__

# <font color='red'>What is `SQL`?</font>

Structured Query Language (SQL):

- Allows users to communicate with relational databases.
- Carries out various operations such as inserting, manipulating, updating, and retrieving data from databases.

An SQL database has the following features:

- __Organization__: Organizes data into tables, with each table containing records (rows) and fields (columns). A primary key is used to uniquely identify each record within a table. 
- __Access__: Allows multiple users or applications to access, manage, and update data easily. 
- __Interactions__: Is often separated from an application by a server, creating a more secure and scalable system.

`SQL` perfoms the following tasks:

- Create new databases, tables, and views
- Insert records in a database
- Update records in a database
- Delete records from a database
- Retrieve data from a database

__We will carry out the above operations using Python.__

## <font color="blue">Applications of SQL</font>

- Used to create a database, define its structure, implement it, and perform various functions on the database.
- Used for accessing, maintaining, and manipulating already created databases.
- A well built language for entering data, modifying data, and extracting data in a database.
- Used as a Client/Server language to connect the front-end with the back-end, thus supporting the client/server architecture.
- When deployed as Data Control Language (DCL), helps protect your database from unauthorized access.

## <font color="blue">SQL features</font>

- Used to access data within the relational database.
- Very fast in extracting large amounts of data very efficiently.
- Flexible as it works with multiple database systems from Oracle, IBM, Microsoft, etc.
- Helps you manage databases without knowing a lot of coding.

## <font color="blue">SQL and Python</font>

- By using SQL in Python, you benefit from the ability to seamlessly bridge the distance between data retrieval and manipulation.
- Combining the two tools unlocks a world of opportunities for data-driven decision-making!

## <font color="blue">SQL data types</font>
- SQL data types define the kind of values that can be stored in a column within a database table.
- Choosing the correct data type is essential for data integrity, storage optimization, and efficient query performance.

Common SQL data types include:

__Numeric__

- _Integers_: Store whole numbers without decimal places. Examples: `INT`, `SMALLINT`, `TINYINT`, `BIGINT`.
- _Decimals/Numerics_: Store exact numeric values with a fixed precision and scale, suitable for financial data. Example: `DECIMAL` (precision, scale), `NUMERIC`.
- _Floating-Point Numbers_: Store approximate numeric values with decimal places. Examples: `FLOAT`, `REAL`, `DOUBLE PRECISION`.

__Boolean__

- `BOOLEAN`: Stores TRUE or FALSE values. Some databases use `BIT(1)` for this purpose.

__String/character__

- `CHAR(n)`: Stores fixed-length strings of `n` characters.
- `VARCHAR(n)`: Stores variable-length strings up to `n` characters.
- `TEXT`: Stores large blocks of text.
- `NCHAR(n) / NVARCHAR(n)`: Similar to `CHAR/VARCHAR` but for Unicode characters.

__Date and time__

- `DATE`: Stores a date value (YYYY-MM-DD).
- `TIME`: Stores a time value (HH:MM:SS).
- `DATETIME`: Stores both date and time (YYYY-MM-DD HH:MM:SS). 
- `TIMESTAMP`: Stores a date and time, often with a higher precision and sometimes converted to UTC for consistency across time zones.

__Binary__

- `BINARY(n)`: Stores fixed-length binary data.
- `VARBINARY(n)`: Stores variable-length binary data.
- `BLOB` (Binary Large Object): Stores large binary data, such as images or files.

__Other data types__

- `JSON`: Stores structured data in JSON format.
- `UUID`: Stores universally unique identifiers.
- `MONEY`: Used in some SQL databases specifically for currency values.

The specific names and characteristics of these data types can vary slightly between different SQL database systems (e.g., SQLite, MySQL, PostgreSQL, SQL Server, Oracle).

## <font color="blue">SQL building block of data creation</font>

### `CREATE`: creating database objects

The `CREATE` statement allows users to define and create various database objects (`DATABASE`, `TABLE`). 

The basic syntax for creating a table:

```sql
CREATE TABLE table_name (
    column1 datatype [constraints],
    column2 datatype [constraints],
    ...
    columnN datatype [constraints]
);
```

where:

- __table_name__: The name you assign to the new table.
- __column1__, __column2__, ...: The names of the columns in the table. 
- __datatype__: Specifies the type of data the column can hold (e.g., `INT`, `VARCHAR(255)`, `DATE`). 
- __[constraints]__: Optional rules applied to the column (e.g., `PRIMARY KEY`, `NULL`, `NOT NULL`, `UNIQUE`, `DEFAULT`).

#### Example

```sql
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    email VARCHAR(30) UNIQUE,
    transaction_amount FLOAT NOT NULL,
    product_description VARCHAR(50) NULL,
    transaction_date DATE DEFAULT GETDATE()
);
```

## <font color="blue">SQL building blocks of data retrieval and manipulation</font>

- SQL can be seen as a language providing commands we could deliver to a database management system (DBMS) to retrieve, modify, and control data saved within its tables.

### `SELECT`: Unveiling the secrets within

The `SELECT` statement allows users to extract particular data from your database tables. The basic syntax is:

```sql
SELECT column1, column2, ..., columnN
FROM table_name
WHERE condition;
```

where:

- __column1, column2, ..., columnN__: The columns (fields) users want to retrieve from the table. You can select all columns using `*`.
- __FROM table_name__: Indicates the table containing the data you want to extract.
- __WHERE condition__: Lets you clear the retrieved data based on unique criteria.

#### Example

```sql
SELECT name
FROM customers;
```

### `WHERE` clause: refining your search

The `WHERE` clause acts as a filter in the `SELECT` statement, allowing users to slim down the retrieved data primarily based on unique situations.

#### Example

```sql
SELECT name
FROM customers
WHERE email LIKE '%@gmail.com';
```

### <font color="green">`ORDER BY`: putting things in order</font>

The `ORDER BY` clause allows users to find retrieved data based totally on a specific column.

```sql
SELECT column1, column2, ..., columnN
FROM table_name
ORDER BY column_name ASC/DESC;
```

where:

- __Column_name__: This specifies the column users need to sort by.
- __ASC__: Sorts data in ascending order (lowest to highest).
- __DESC__: Sorts data in descending order (highest to lowest).

#### Example

```sql
SELECT name
FROM customers
ORDER BY name ASC;
```

### <font color="green">`GROUP BY`</font>

- Some time it is required to apply a `SELECT` query in a group of records instead of whole table.
- We can group records by using `GROUP BY <column>` clause with `SELECT` command.
- A group column is chosen which have non-distinct (repeating) values like City, Job etc.
- Generally, the following Aggregate Functions `[MIN(), MAX(), SUM(), AVG(), COUNT()]`, etc. are applied on groups.

| Name | Purpose |
| --- | --- |
| SUM() | Returns the sum of given column. |
| MIN() | Returns the minimum value in the given column. |
| MAX() | Returns the maximum value in the given column. |
| AVG() | Returns the Average value of the given column. |
| COUNT() | Returns the total number of values/ records as per given column. |

### <font color="green">Data manipulation beyond retrieval: `INSERT`, `UPDATE`, and `DELETE`</font>

The `INSERT` statement permits users to add new rows of data to a table.

```sql
INSERT INTO table_name (column1, column2, ..., columnN)
VALUES (value1, value2, ..., valueN);
```

- __Table_name__: The table where users need to insert the new data.
- __Column1, column2, ..., columnN__: The columns (fields) wherein users can insert new values. 
- __Value1, value2, ..., valueN__: Real data values users want to insert into the corresponding columns.

#### Example

```sql
INSERT INTO customers (name, email)
VALUES ('John Doe', 'john.doe@example.com');
```

The `UPDATE` statement allows you to regulate existing data within a table. 

```sql
UPDATE table_name
SET column_name = new_value
WHERE condition;
```

- __table_name__: The table containing the data users need to regulate.
- __column_name__: The column wherein users need to replace the values.
- __new_value__: The brand-new value users want to assign to the required column.
- __`WHERE` condition__: Let you target specific rows for amendment based on certain criteria.

#### Example

```sql
UPDATE customers
SET email = 'john.doe@newcompany.com'
WHERE name = 'John Doe';
```

The `DELETE` statement empowers users to cast off undesirable rows from a table.

```sql
DELETE FROM table_name
WHERE condition;
```

### <font color="green">Combine data from multiple tables: `JOIN`</font>

A `JOIN` statement allows users to combine rows from two or more tables based on a related column between them. This allows for retrieving data that is spread across multiple tables and establishing relationships between them in a single query result. 

There several types of `JOIN` statements, including:

`INNER`: Returns only the rows with a match in both tables. If a row in one table doesn't have a corresponding row in the other table, it won't be included in the result set.

```sql
SELECT columns
FROM table1
INNER JOIN table2
ON table1.common_column = table2.common_column;
```

`LEFT` (or `LEFT OUTER`): Returns all rows from the left table and the matched rows from the right table. If there is no match, the result is `NULL` on the side of the right table

```sql
SELECT columns
FROM table1
LEFT JOIN table2
ON table1.common_column = table2.common_column;
```

`RIGHT` (or `RIGHT OUTER`): Returns all rows from the right table and the matched rows from the left table. If there is no match, the result is `NULL` on the side of the left table.

```sql
SELECT columns
FROM table1
RIGHT JOIN table2
ON table1.common_column = table2.common_column;
```

`FULL`(or `FULL OUTER`): Returns rows when a match occurs in one of the tables. It returns all rows from both tables and fills in NULLs for missing matches on either side.

```sql
SELECT columns
FROM table1
FULL JOIN table2
ON table1.common_column = table2.common_column;
```

The `ON` clause specifies the condition for joining the tables, typically by comparing common columns (often primary and foreign keys) between them.

![fig_join](https://api.datalemur.com/assets/b995ae07-795a-4dc4-9df7-8f65e3b0c665)
Image Source: DataLemur

__The web page [https://www.db-fiddle.com/](https://www.db-fiddle.com/) can be used as a place to test all the above SQL commands.__

# <font color='red'>Interface Python with SQL database</font>

- Using SQL, databases and tables can be created and data can be accessed, updated and maintained.
- The Python standard for database interfaces is the __Python DB-API__.
- Python Database API supports a wide range of database servers, like `SQLite`, `msql` , `mysql`, `postgressql`, `Informix`, `oracle`, `Sybase`, etc.
   - We must download a separate DB API module for each database we need to access.
   - Suppose we need to access an Oracle database as well as a MySQL database, we must download both the Oracle and the MySQL database modules.
   - Here, we will use:
      - SQLite.
      - MySQL as back end database (open source, free and portable ) and rely on the `mysql.connector` DB API package.
- The DB API provides a minimal standard for working with databases using Python structuresand syntax wherever possible. The API includes the following:
  - Importing the API module.
  - Acquiring a connection with the database.
  - Issuing SQL statements and stored procedures.
  - Closing the connection.

## <font color="blue">SQLite</font>

- SQLite is an embedded database library written in C.
- Is a lightweight, file-based relational database management system that is often used in Python applications due to its simplicity and minimal configuration.
- It provides concurrent access, allowing multiple processes or threads to access the same database.
- It is known as __embedded__ database (as opposite to a database that is installed as a server, and then a client is used to connect to it), because it is included in a program as a library.
   - It lacks multi-user functionalities and can’t be managed as a process unlike other database technologies like MySQL or PostgreSQL that use a client-server approach.
- All the data is stored in a file — usually with a `.db` extension — and there are functions that allow users to run SQL statements or do any other operation on the database.

__SQLite in Python__

- The `sqlite3` module in Python provides an SQL interface to SQLite and comes pre-installed with Python.
- It allows users to create a database, connect to it, create tables, insert data, and execute SQL commands.
- The module also supports placeholders, which allow parameter substitution in SQL commands, making it easier to insert variables into a query.
- Transactions in SQLite are sequences of operations performed on a database that are treated as a single unit, ensuring data integrity.
   - The `sqlite3` module starts a transaction before executing `INSERT`, `UPDATE`, `DELETE`, or `REPLACE` statements.
   - Users must call the `commit()` method to save changes made during the transaction, and can handle transactions explicitly by setting the `isolation_level` to `None` when connecting to the database.

To install `sqlite3`, issue the command:
```shell
   pip install sqlite3
```

## <font color="blue">MySQL</font>

- An open-source relational database management system (RDBMS) that organizes data into one or more data tables in which data may be related to each other.
   - These relations help structure the data.
- MySQL has stand-alone clients that allow users to interact directly with a MySQL database using SQL, but more often, MySQL is used with other programs to implement applications that need relational database capability.

__MySQL Connector__

- Refers to a set of drivers and libraries that enable applications to connect to and interact with a MySQL database
- The connectors are available for various programming languages and technologies, such as MySQL Connector/Python for Python, MySQL Connector/J for Java (using JDBC), and MySQL Connector/ODBC for C++ (using ODBC).

__Steps for using `mysql-connector`__

To use a connector in Python:

1. [Download Mysql API](https://dev.mysql.com/downloads/connector/python/), exe file and install it.
2. Install Mysql-Python Connector using:
```shell
   pip install mysql-connector
```

# <font color="red">Packages used</font>

- __getpass__: Provide a secure to prompt users for sensitive information, such as passwords.
- __Pandas__: Package for data analysis and visualization.
- __sqlite3__: Provide an interface to interact with SQLite databases.
- __mysql-connector__: Python DB API package used to interact with SQL database.

In [ ]:
try:
    import google.colab
    print("Running in Google Colab")
except:
    print("Not running in Google Colab")
else:
    print("Installing modules in Google Colab")
    !pip install sqlite3
    !pip install mysql-connector
    !pip install sqlalchemy

In [ ]:
import getpass

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [ ]:
from sqlalchemy import create_engine, inspect

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

# <font color="red"> Using SQLite</font>

In [ ]:
import sqlite3

## <font color="blue">SQLite database connection with Python</font>

The diagram below illustrates how a connection request is sent to SQLite connector Python, how it gets accepted from the database and how the cursor is executed with result data.

![fig_sqlite3](https://pynative.com/wp-content/uploads/2019/06/python-sqlite3-module-working.png)
Image source: pynative.com

__Connect to a SQLite database__

Use the `connect()` method to create a connection object (connect to a new database or create one if it does not exist):

```python
  sqlite_conn = sqlite3.connect(db_file_name)
```
`db_file_name` can be the full path to the file.

You also have the option of creating databases in memory for testing purposes:

```python
  sqlite_conn = sqlite3.connect(:memory:)
```

__Create the cursor object__

Use the `cursor()` method of a connection class to create a __cursor__ object that allows us to execute SQLite commands/queries from Python.

```python
  cursor = sqlite_conn.cursor()
```

__Run an SQL query__

The `cursor.execute()` methods run the SQL query and return the result.

```python
  cursor.execute(my_sql_query)
```

__Read query result__

To read query results, use:

- `cursor.fetchall()`: to return all the results.
- `cursor.fetchone()`: to return one result.
- `cursor.fetchmany()`: to return more than one result.

__Close the cursor and the connection__

Use `cursor.close()` and `connection.close()` method to close the __cursor__ and SQLite connections after your work completes

```python
  cursor.close()
  sqlite_conn.close()
```

## <font color="blue">Supported data types</font>

SQLite for Python offers fewer data types than other SQL implementations. It mainly supports numeric, character/string and binary data types.

## <font color="blue">Simple test</font>

- Create and connect to the new database file and prints the SQLite version details.
- Use `try/except` statement for error checking.

In [ ]:
db_file_name = 'sample_sqlite.db'

try:
    sqlite_conn = sqlite3.connect(db_file_name)
    cursor = sqlite_conn.cursor()
    print("Database created and Successfully Connected to SQLite")

    sqlite_select_Query = "select sqlite_version();"
    cursor.execute(sqlite_select_Query)
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)
finally:
    if sqlite_conn:
        sqlite_conn.close()
        print("The SQLite connection is closed")

## <font color="blue">Operations on a SQLite database</font>

- Create a brand new database, connect to it and perform various operations

### <font color="green">Connect to a database and create a cursor object</font>

- Establish a connection to an SQLite database file.
   - If the file does not exist, it will be created.
- Create the cursor object

In [ ]:
db_file_name = 'sqlite_planets.db'

try:
    sqlite_conn = sqlite3.connect(db_file_name)
    cursor = sqlite_conn.cursor()
    print(f"Database {db_file_name} was created and successfully connected to SQLite.")

except Exception as e:
    print("Something bad happened: ", e)
    if sqlite_conn:
        sqlite_conn.close()

### <font color="green">Create a table</font>

- We want to create a `planets` table containing data on the solar system planets:
  - `name`: The name of the planet
  - `distance`: The distance to the sun
  - `mean_radius`:  The planet mean radius (in $km$).
  - `orbit_duration`: The amount of time the planet takes to orbit around the sun (in Earth years).
  - `orbit_speed`: The planet average orbital speed (in $km/s$)
  - `surface_area`: The planet surface area (in $km^2$).
  - `num_moons`: The number of moons the planet has.

- Execute a `CREATE TABLE SQL` statement to define the structure of your data: the table is named `planets` and has as columns the names mentioned above.

In [ ]:
create_planets_table = """
CREATE TABLE planets (
  name VARCHAR(15) PRIMARY KEY,
  distance FLOAT(53) NOT NULL,
  mean_radius FLOAT(53) NOT NULL,
  orbit_duration FLOAT(53) NOT NULL,
  orbital_speed FLOAT(53) NOT NULL,
  surface_area FLOAT(53) NOT NULL,
  num_moons INT NOT NULL
  )
"""
cursor.execute(create_planets_table);

### <font color="green">Insert data</font>

- Insert rows into your table using `INSERT INTO` statements.
- Use placeholders (`?`) for values to prevent SQL injection.

__Insert many values at once__

- We include data (as a `tuple`) of individual planets in a `list`.
- We use the `executemany()` method on the cursor object

In [ ]:
pop_planet_data = [
('Mercury', 5.800e+07,  2439.7,   0.24, 47.36, 7.50e+07,   0),
('Venus',   1.080e+08,  6051.8,   0.62, 35.02, 4.60e+08,   0),
('Earth',   1.497e+08,  6371.0,   1.00, 29.79, 5.10e+08,   1), 
('Mars',    2.279e+08,  3389.5,   1.88, 24.07, 1.40e+08,   2),
('Jupiter', 7.780e+08, 69911.0,  11.86, 13.07, 6.40e+10,  95),
('Saturn',  1.434e+09, 58232.0,  29.47,  9.68, 4.40e+10, 146),
('Uranus',  2.900e+09, 25362.0,  84.02,  6.80, 8.10e+09,  28),
('Pluto',   5.910e+09,  1188.3, 247.94,  4.74, 1.80e+07,   5)    
]

In [ ]:
cursor.executemany('INSERT OR REPLACE INTO planets VALUES (?,?,?,?,?,?,?)', pop_planet_data)
sqlite_conn.commit()

__Insert data of one planet__

- We use the `execute()` method on the cursor object to insert data on one planet.
- We create a function to execute the operation.

In [ ]:
def insert_sqlite_command(conn: sqlite3.Connection, planet_data: tuple) -> None:
    command = 'INSERT INTO planets VALUES (?,?,?,?,?,?,?)'
    try:
        cur = conn.cursor()
        cur.execute(command, planet_data)
        conn.commit()
    except sqlite3.Error as error:
        print(f"Error: '{error}'")

In [ ]:
neptune_data = ('Neptune', 4.500e+09, 24622.0, 164.80,  5.43, 7.70e+09,  16)

In [ ]:
insert_sqlite_command(sqlite_conn, neptune_data)

In [ ]:
command = "PRAGMA table_info(planets);"
cursor.execute(command)
cursor.fetchall()

### <font color="green">Query the entire database</font>

In [ ]:
def read_sqlite_query(
    conn: sqlite3.Connection, 
    query: str
) -> list[tuple]:
    """
    Access the database and extract data based on the query.

    Parameters
    ----------
    conn : sqlite3.Connection
       The SQLite connection obejct to the database.
    query : str
       The operation we want to perform.

    Returns
    -------
    results : list[tuple]
       The data extracted from the database based on the query.
       It is a list of tuples.    
    """
    cur = conn.cursor()
    results = list()
    try:
        cur.execute(query)
        results = cur.fetchall()   
    except sqlite3.Error as error:
        print(f"SQLite error: '{error}'")
    return results

__List all tables in the database__

In [ ]:
query_planets = "SELECT name FROM sqlite_master WHERE type='table'"
read_sqlite_query(sqlite_conn, query_planets)

__Extract all the data of all the planets__

In [ ]:
query_planets = "PRAGMA table_info(planets)"
read_sqlite_query(sqlite_conn, query_planets)

In [ ]:
query_planets = "SELECT * FROM planets"
extract_records = read_sqlite_query(sqlite_conn, query_planets)
for planet in extract_records:
    print(planet)

__Extract the planets in alphabetical order__

In [ ]:
query_order_planets = """
SELECT *
FROM planets
ORDER BY name ASC;
"""

extract_records = read_sqlite_query(sqlite_conn, query_order_planets)
for planet in extract_records:
    print(planet)

__Aggregate functions__

Count:

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT COUNT(*) FROM planets;")[0][0]

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT COUNT(num_moons) FROM planets;")[0][0]

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT COUNT(num_moons) FROM planets WHERE num_moons > 0;")[0][0]

Sum:

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT SUM(num_moons) FROM planets;")

Max/Min:

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT MAX(num_moons) FROM planets;")[0][0]

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT MIN(num_moons) FROM planets;")[0][0]

Average:

In [ ]:
read_sqlite_query(sqlite_conn, "SELECT AVG(num_moons) FROM planets;")[0][0]

__Filter a query__

We want to extract from the database only the columns  `name`, `distance` and `surface_area` for the planets that have at least one moon.

In [ ]:
query_partial_planets = """
SELECT name, distance, surface_area
FROM planets
WHERE num_moons > 0
"""

partial_results = read_sqlite_query(sqlite_conn, query_partial_planets)
for result in partial_results:
    print(result)

### <font color="green">Fetch one record of a table</font>

- We use the `fetchone()` method to retrieve the next row of a query result set and return a single sequence, or None if no more rows are available.

In [ ]:
def fetch_sqlite_one_record(
    conn: sqlite3.Connection, 
    query: str
) -> tuple:
    """
    Access the database and a single sequence based on the query.

    Parameters
    ----------
    conn : sqlite3.Connection
       The SQLite connection obejct to the database.
    query : str
       The operation we want to perform.

    Returns
    -------
    results : tuple
       The data extracted from the database based on the query.
    """
    cur = conn.cursor()
    result = tuple()
    try:
        cur.execute(query)
        result = cur.fetchone()   
    except sqlite3.Error as error:
        print(f"Error: '{error}'")
    return result

In [ ]:
one_record = fetch_sqlite_one_record(sqlite_conn, query_planets)
one_record

In [ ]:
query = "SELECT COUNT(*) FROM planets"
results = fetch_sqlite_one_record(sqlite_conn, query)
results[0]

In [ ]:
query = "SELECT SUM(num_moons) FROM planets"
results = fetch_sqlite_one_record(sqlite_conn, query)
results[0]

### <font color="green">List all the tables in the database</font>

In [ ]:
def list_sqlite_tables(conn: sqlite3.Connection) -> list:
    """
    Use the connection object to lists all tables in the database.

    Parameters
    ----------
    conn : sqlite3.Connection
       The SQLite connection obejct to the database.

    Returns
    -------
    tables : list
       A list of table names in the database.
    """
    table_names = list()
    try:
        cursor = conn.cursor()

        # Query sqlite_master to get table names
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = cursor.fetchall()

        # Extract table names from the fetched results
        table_names = [table[0] for table in tables]
    except sqlite3.Error as e:
        print(f"Error connecting to or querying database: {e}")
    return table_names

In [ ]:
list_sqlite_tables(sqlite_conn)

### <font color="green">Delete one record of a table</font>

- Note that __Pluto__ is not a planet but appears in our database. We want to delete its record.

In [ ]:
cursor.execute("DELETE FROM planets WHERE name='Pluto';")
sqlite_conn.commit()

In [ ]:
query_planets = "SELECT * FROM planets"
extract_records = read_sqlite_query(sqlite_conn, query_planets)
for planet in extract_records:
    print(planet)

## <font color="blue">Access the database with Pandas</font>

We use Pandas related functions to extract data from table.

__Use the `read_sql()` function__

```python
pd.read_sql(
    sql, con, index_col=None, 
    coerce_float=True, params=None, 
    parse_dates=None, columns=None, 
    chunksize=None
)
```

In [ ]:
df = pd.read_sql('SELECT * FROM planets', sqlite_conn)

In [ ]:
df

We can also select specific columns:

In [ ]:
columns = ['name', 'distance', 'mean_radius', 'num_moons']
pd_sql_query = pd.read_sql('SELECT * FROM planets', sqlite_conn)
df = pd.DataFrame(pd_sql_query, columns=columns)
df

__Use the `read_sql_query()` function__

```python
pd.read_sql_query(
    sql, con, index_col=None, 
    coerce_float=True, params=None, 
    parse_dates=None, chunksize=None, 
    dtype=None
)
```

In [ ]:
df = pd.read_sql_query("SELECT * FROM planets", sqlite_conn)
df

## <font color="blue">Sample visualization</font>

__Create schema visualization__

In [ ]:
class DatabaseStructureVisualizer:
    def __init__(self, engine):
        self.engine = engine
        self.inspector = inspect(engine)
    
    def visualize_table_sizes(self):
        """
        Visualize table sizes and record counts.
        """
        
        tables = self.inspector.get_table_names()
        table_info = []
        
        for table in tables:
            # Get row count
            count_query = f"SELECT COUNT(*) as count FROM {table}"
            result = pd.read_sql_query(count_query, self.engine)
            row_count = result['count'].iloc[0]
            
            # Get column count
            columns = self.inspector.get_columns(table)
            column_count = len(columns)
            
            table_info.append({
                'table_name': table,
                'row_count': row_count,
                'column_count': column_count
            })
        
        df = pd.DataFrame(table_info)
        
        # Create visualization
        fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 6))
        
        # Row counts
        bars1 = ax1.bar(df['table_name'], df['row_count'], color='skyblue')
        ax1.set_title('Table Row Counts')
        ax1.set_ylabel('Number of Rows')
        ax1.tick_params(axis='x', rotation=45)
        
        # Add value labels on bars
        for bar in bars1:
            height = bar.get_height()
            ax1.text(bar.get_x() + bar.get_width()/2., height,
                    f'{int(height)}', ha='center', va='bottom')
        
        # Column counts
        bars2 = ax2.bar(df['table_name'], df['column_count'], color='lightgreen')
        ax2.set_title('Table Column Counts')
        ax2.set_ylabel('Number of Columns')
        ax2.tick_params(axis='x', rotation=45)
        
        # Add value labels on bars
        for bar in bars2:
            height = bar.get_height()
            ax2.text(bar.get_x() + bar.get_width()/2., height,
                    f'{int(height)}', ha='center', va='bottom')
        
        plt.tight_layout()
        plt.show()
        
        return df
    
    def create_schema_summary(self):
        """
        Create a comprehensive schema summary visualization.
        """
        
        tables = self.inspector.get_table_names()
        schema_data = []
        
        for table in tables:
            columns = self.inspector.get_columns(table)
            foreign_keys = self.inspector.get_foreign_keys(table)
            primary_key = self.inspector.get_pk_constraint(table)
            
            for column in columns:
                schema_data.append({
                    'table': table,
                    'column': column['name'],
                    'type': str(column['type']),
                    'nullable': column['nullable'],
                    'is_primary_key': column['name'] in primary_key['constrained_columns'],
                    'is_foreign_key': any(column['name'] in fk['constrained_columns'] for fk in foreign_keys)
                })
        
        schema_df = pd.DataFrame(schema_data)
        
        # Create summary statistics
        summary_stats = {
            'Total Tables': len(tables),
            'Total Columns': len(schema_df),
            'Primary Keys': len(schema_df[schema_df['is_primary_key']]),
            'Foreign Keys': len(schema_df[schema_df['is_foreign_key']]),
            'Nullable Columns': len(schema_df[schema_df['nullable']])
        }
        
        # Visualize summary
        fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(2, 2, figsize=(16, 12))
        
        # 1. Schema overview
        categories = list(summary_stats.keys())
        values = list(summary_stats.values())
        ax1.bar(categories, values, color=['blue', 'green', 'red', 'orange', 'purple'])
        ax1.set_title('Database Schema Overview')
        ax1.set_ylabel('Count')
        ax1.tick_params(axis='x', rotation=45)
        
        # 2. Data types distribution
        type_counts = schema_df['type'].value_counts()
        ax2.pie(type_counts.values, labels=type_counts.index, autopct='%1.1f%%')
        ax2.set_title('Data Types Distribution')
        
        # 3. Tables by column count
        columns_per_table = schema_df.groupby('table').size()
        ax3.bar(columns_per_table.index, columns_per_table.values, color='lightcoral')
        ax3.set_title('Columns per Table')
        ax3.set_ylabel('Number of Columns')
        ax3.tick_params(axis='x', rotation=45)
        
        # 4. Key relationships
        key_data = schema_df.groupby('table').agg({
            'is_primary_key': 'sum',
            'is_foreign_key': 'sum'
        })
        
        x = np.arange(len(key_data.index))
        width = 0.35
        
        ax4.bar(x - width/2, key_data['is_primary_key'], width, label='Primary Keys', alpha=0.8)
        ax4.bar(x + width/2, key_data['is_foreign_key'], width, label='Foreign Keys', alpha=0.8)
        ax4.set_title('Keys per Table')
        ax4.set_ylabel('Number of Keys')
        ax4.set_xticks(x)
        ax4.set_xticklabels(key_data.index, rotation=45)
        ax4.legend()
        
        plt.tight_layout()
        plt.show()
        
        return schema_df, summary_stats

In [ ]:
engine = create_engine(f'sqlite:///{db_file_name}')
structure_viz = DatabaseStructureVisualizer(engine)
table_sizes_df = structure_viz.visualize_table_sizes()
schema_df, summary_stats = structure_viz.create_schema_summary()

__Use `Seaborn` to plot planets relative to their disnace to the sun__

In [ ]:
g = sns.relplot(x="name", y="distance", 
                size="mean_radius", hue="num_moons",
                sizes=(40, 400), 
                alpha=.75, 
                palette="muted",
                height=6, data=df
               )
g.set_xticklabels(rotation=90);

## <font color="blue">Close connection</font>
- Always close the database connection when you are finished.

In [ ]:
cursor.close()
sqlite_conn.close()

# <font color="red">SQLite database with multiple related tables</font>

- We create a database with multiple tables.
- The database consists of enrollement statistics of a set of students.
- After the database creation, we perform various queries to exttact useful information.

In [ ]:
num_students = 50

In [ ]:
students_data = {
    'student_id': [f'Student_{i:04}' for i in range(1, num_students+1)],
    'age': np.random.randint(18, 25, num_students),
    'major': np.random.choice(['CS', 'Math', 'Physics', 'Chemistry'], num_students),
    'gpa': np.round(np.random.uniform(2.0, 4.0, num_students), 2)
}

In [ ]:
students_df = pd.DataFrame(students_data)
students_df

In [ ]:
courses_data = {
    'course_id': ['CS101', 'CS201', 'MATH101', 'PHYS101', 'CHEM101'],
    'course_name': ['Introduction to Programming Python', 'Data Structures', 
                    'Calculus I', 'Physics I', 'General Chemistry'],
    'credits': [3, 4, 4, 3, 4],
    'department': ['CS', 'CS', 'Math', 'Physics', 'Chemistry']
}

In [ ]:
courses_df = pd.DataFrame(courses_data)
courses_df

In [ ]:
enrollments = list()
for idx in range(1, num_students+1):
    student_id = f'Student_{idx:04}'
    num_courses = np.random.randint(2, 6)  # Each student takes 2-5 courses
    student_courses = np.random.choice(courses_data['course_id'], num_courses, replace=False)
    for course_id in student_courses:
        enrollments.append({
            'student_id': student_id,
            'course_id': course_id,
            'grade': np.random.choice(['A', 'B', 'C', 'D', 'F'], p=[0.3, 0.4, 0.2, 0.08, 0.02])
        })

In [ ]:
enrollments_df = pd.DataFrame(enrollments)
enrollments_df

## <font color="blue">Create a multi-table database</font>

- We store multiple tables within a single database file.
   - This is a important aspect of relational database management systems, allowing for the organization of related data into distinct, structured tables that can then be queried and joined.
- Use Pandas DataFrames to write the contents of the tables into the database file.
- We perform operations (using `COUNT`, `WHERE`, `JOIN`, `GROUP BY`, etc. statements) to extract data from the database.

__Establish a connection to an SQLite database file__

In [ ]:
db_file_name = 'learner_records.db'

In [ ]:
sqlite_conn = sqlite3.connect(db_file_name)

__Enable foreign key constraints__

In [ ]:
#sqlite_conn.execute("PRAGMA foreign_keys = ON")

__Populate the database (with dependencies among the tables) using the Pandas DataFrames__

Use the `DataFrame.to_sql()` method to write the DataFrame's contents to a table in the connected database.

In [ ]:
try: 
    # Create tables with proper dependencies using SQL
    create_tables_sql = """
    -- Parent table: students (no dependencies)
    CREATE TABLE IF NOT EXISTS students (
        student_id TEXT PRIMARY KEY,
        age INTEGER,
        major TEXT,
        gpa REAL
    );

    -- Parent table: students (no dependencies)
    CREATE TABLE IF NOT EXISTS courses (
        course_id TEXT PRIMARY KEY,
        course_name TEXT,
        credits INTEGER,
        department TEXT
    );

    -- Child table: employees (depends on students and courses)
    CREATE TABLE IF NOT EXISTS enrollments (
        student_id TEXT,
        course_id TEXT,
        grade TEXT,
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (course_id) REFERENCES courses(course_id),
        UNIQUE(student_id, course_id)
    );
    """

    # Execute table creation
    sqlite_conn.executescript(create_tables_sql)

    # Insert data respecting dependencies
    
    students_df.to_sql('students',       sqlite_conn, if_exists='replace', index=False)
    courses_df.to_sql('courses',         sqlite_conn, if_exists='replace', index=False)
    enrollments_df.to_sql('enrollments', sqlite_conn, if_exists='replace', index=False)

    sqlite_conn.commit()
    
    print(f"Database '{db_file_name}' created successfully!")

    # Display some basic info about the created tables
    cursor = sqlite_conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
        
    print(f"\nDatabase contains {len(tables)} tables:")
    for table in tables:
        cursor.execute(f"SELECT COUNT(*) FROM {table[0]}")
        count = cursor.fetchone()[0]
        print(f"    {table[0]:>15}: {count:4} records")
        
except sqlite3.Error as e:
    print(f"Error populating the database: {e}")

__Verify the content of the database__

In [ ]:
query = "SELECT name FROM sqlite_master WHERE type='table'"
records = read_sqlite_query(sqlite_conn, query)
table_names = list()
for rec in records:
    table_names.append(rec[0])
table_names

In [ ]:
table_names = list_sqlite_tables(sqlite_conn)
table_names

In [ ]:
query = "SELECT * FROM students"
read_sqlite_query(sqlite_conn, query)

In [ ]:
query = "SELECT * FROM courses"
read_sqlite_query(sqlite_conn, query)

In [ ]:
query = "SELECT * FROM enrollments"
read_sqlite_query(sqlite_conn, query)

__Visualize the database__

In [ ]:
engine = create_engine(f'sqlite:///{db_file_name}')
structure_viz = DatabaseStructureVisualizer(engine)
table_sizes_df = structure_viz.visualize_table_sizes()
schema_df, summary_stats = structure_viz.create_schema_summary()

## <font color="blue">Extract information from database</font>

__Count number of rows in each table__

In [ ]:
for table_name in table_names:
    query = f"SELECT COUNT(*) FROM {table_name}"
    result = fetch_sqlite_one_record(sqlite_conn, query)
    print(f"The {table_name} table has {result[0]} rows.")

__Count the number of courses taken by each student__

In [ ]:
query = 'SELECT student_id, COUNT(*) as num_courses FROM enrollments GROUP BY student_id'
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(f"{rec[0]:>15}: {rec[1]:3}")

__Compute the average number of courses taken by students__

In [ ]:
query = """
WITH course_counts AS (
    SELECT student_id, COUNT(*) as num_courses
    FROM enrollments
    GROUP BY student_id
)
SELECT AVG(num_courses) as avg_num FROM course_counts
"""
read_sqlite_query(sqlite_conn, query)[0][0]

__Count students by major__

In [ ]:
query = 'SELECT major, COUNT(*) as student_count FROM students GROUP BY major'
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(f"{rec[0]:>15}: {rec[1]:3}")

__Find all students with `GPA > 3.75`__

In [ ]:
query = 'SELECT * FROM students WHERE gpa > 3.75'
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(rec)

__Find students enrolled in `CS` courses with their grades__

- We need to use multiple `JOIN`s statement to connect related tables.

In [ ]:
query = """
SELECT s.name, c.course_name, e.grade
FROM students s
JOIN enrollments e ON s.student_id = e.student_id
JOIN courses c ON e.course_id = c.course_id
WHERE c.department = 'CS'
"""

In [ ]:
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(rec)

In [ ]:
student_recs_CS = dict()
for rec in records:
    student_id = rec[0]
    if student_id in student_recs_CS:
        student_recs_CS[student_id].append(rec[1:])
    else:
        student_recs_CS[student_id] = [rec[1:]]

for student_id in student_recs_CS:
    print(student_id)
    for rec in student_recs_CS[student_id]:
        print(f"\t {rec}")

__Calculate average GPA by major, show only majors with avg `GPA > 3.0`__

In [ ]:
query = """
SELECT major, AVG(gpa) as avg_gpa
FROM students
GROUP BY major
HAVING AVG(gpa) > 3.0
ORDER BY avg_gpa DESC
"""

In [ ]:
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(rec)

__Find students who are taking more courses than the average__

In [ ]:
query = """
WITH course_counts AS (
    SELECT student_id, COUNT(*) as num_courses
    FROM enrollments
    GROUP BY student_id
),
avg_courses AS (
    SELECT AVG(num_courses) as avg_num
    FROM course_counts
)
SELECT s.student_id, cc.num_courses
FROM students s
JOIN course_counts cc ON s.student_id = cc.student_id
CROSS JOIN avg_courses ac
WHERE cc.num_courses > ac.avg_num
ORDER BY cc.num_courses DESC
"""

In [ ]:
records = read_sqlite_query(sqlite_conn, query)
for rec in records:
    print(rec)

# <font color="red">Using MySQL</font>

In [ ]:
import mysql.connector
from mysql.connector import Error

## <font color="blue">SQL connection with Python</font>

The diagram illustrates how a connection request is sent to MySQL connector Python, how it gets accepted from the database and how the cursor is executed with result data.

![fig_mysql](https://media.geeksforgeeks.org/wp-content/uploads/20210907134817/SQLConnectionpython-660x432.jpg)
Image Sourge: geeksforgeeks

## <font color="blue">Connect to server and create database</font>

### <font color="green">Create database connection function</font>

- Use the `mysql.connector.connect()` method to connect to our MySQL Server.
- The method has the following arguments:
   - __host__: The server name or IP address on which MySQL is running.
      If running on localhost, then use `localhost` or its IP `127.0.0.0`.
   - __user__: The username that you use to work with MySQL Server.
      The default username for the MySQL database is a `root`.
   - __passwd__: The password is needed at the time of installing the MySQL server.
   - __database__: The name of the database to which you want to connect and perform the operations.

In [ ]:
def create_server_connection(
    host_name: str, 
    user_name: str, 
    user_password: str
) -> mysql.connector.connection_cext.CMySQLConnection:
    """
    Connect to the server.

    Parameters
    ----------
    host_name : str
      Name of the server to contain the database.
    user_name : str
      Name of the user.
    user_password : str
      Password of the user

    Returns
    -------
    connection : mysql.connector.connection_cext.CMySQLConnection
      The object identifying the connection to the server.
    """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

Provide the password:

In [ ]:
root_password = getpass.getpass("Provide the root password: ")

Provide the name of the database:

In [ ]:
db_name = "solar_planet"

In [ ]:
connection = create_server_connection("localhost", "root", root_password)

### <font color="green">Define a function to create a database</font>

- Use the `cursor()` method (from the `CMySQLConnection` object) to create a cursor object to perform various SQL operations.
- Use the `execute()` method to run the SQL query and return the result.

In [ ]:
def create_database(
    connection: mysql.connector.connection_cext.CMySQLConnection, 
    query: str
):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_database_query = f"CREATE DATABASE {db_name}"

In [ ]:
create_database(connection, create_database_query)

### <font color="green">Modify server connection function and create database connection function</font>

In [ ]:
def create_database_connection(
    host_name: str, 
    user_name: str, 
    user_password: str, 
    db_name: str
) -> mysql.connector.connection_cext.CMySQLConnection:
    """
    Connect to the server.

    Parameters
    ----------
    host_name : str
      Name of the server to contain the database.
    user_name : str
      Name of the user.
    user_password : str
      Password of the user
    db_name : str
      Database name

    Returns
    -------
    connection : mysql.connector.connection_cext.CMySQLConnection
    """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
type(connection)

In [ ]:
def execute_query(
    connection: mysql.connector.connection_cext.CMySQLConnection, 
    query: str
):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

## <font color="blue">Creating tables</font>

- Here we want to create a database containing information on solar planets.
- We list each solar planet and include:
   - its name
   - its distance to the sun
   - the number of moons it has
   - its orbital speed
   - its mean radius
   - its orbital duration
   - its surface area

### <font color="green">Create the planet table</font>

Connect to the database:

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name)

Execute our defined query:

In [ ]:
execute_query(connection, create_planets_table)

## <font color="blue">Populate table</font>

- Insert the planet information.

In [ ]:
pop_planet_data = """
INSERT INTO planets VALUES
('Mercury', 5.800e+07,  2439.7,   0.24, 47.36, 7.50e+07,   0),
('Venus',   1.080e+08,  6051.8,   0.62, 35.02, 4.60e+08,   0),
('Earth',   1.497e+08,  6371.0,   1.00, 29.79, 5.10e+08,   1), 
('Mars',    2.279e+08,  3389.5,   1.88, 24.07, 1.40e+08,   2),
('Jupiter', 7.780e+08, 69911.0,  11.86, 13.07, 6.40e+10,  95),
('Saturn',  1.434e+09, 58232.0,  29.47,  9.68, 4.40e+10, 146),
('Uranus',  2.900e+09, 25362.0,  84.02,  6.80, 8.10e+09,  28),
('Pluto',   5.910e+09,  1188.3, 247.94,  4.74, 1.80e+07,   5);
"""

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name) 
execute_query(connection, pop_planet_data)

## <font color="blue">Reading data</font>

We want to read the information write in the database.

### <font color="green">Define function for reading all the data</font>

- We use the `fetchall()` method to retrieve all the data from the table `planets`.

In [ ]:
def read_query(
    connection: mysql.connector.connection_cext.CMySQLConnection, 
    query: str
):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()   
    except Error as err:
        print(f"Error: '{err}'")
    return result

We use the `SELECT` command to retrieve all the data from all the columns in the `planets` table.

In [ ]:
query_planets = """
SELECT *
FROM planets;
"""

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name)
results = read_query(connection, query_planets)

In [ ]:
type(results)

In [ ]:
for result in results:
    print(result)

### <font color="green">Pass the data into a Pandas DataFrame</font>

In [ ]:
columns = ["name", "distance", "mean_radius", 
           "orbit_duration", "orbital_speed", 
           "surface_area", "num_moons"]

In [ ]:
df = pd.DataFrame(results, columns=columns)

In [ ]:
df

In [ ]:
df.info()

### <font color="green">Order the planet names</font>

In [ ]:
query_order_planets = """
SELECT *
FROM planets
ORDER BY name ASC;
"""

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name)
order_results = read_query(connection, query_order_planets)

In [ ]:
for result in order_results:
    print(result)

### <font color="green">Aggregate functions<font>

In [ ]:
read_query(connection, "SELECT COUNT(*) FROM planets;")[0][0]

In [ ]:
read_query(connection, "SELECT SUM(num_moons) FROM planets;")

In [ ]:
read_query(connection, "SELECT MAX(num_moons) FROM planets;")[0][0]

In [ ]:
read_query(connection, "SELECT MIN(num_moons) FROM planets;")[0][0]

In [ ]:
read_query(connection, "SELECT AVG(num_moons) FROM planets;")[0][0]

In [ ]:
read_query(connection, "SELECT COUNT(num_moons) FROM planets;")[0][0]

In [ ]:
read_query(connection, "SELECT COUNT(num_moons) FROM planets WHERE num_moons > 0;")[0][0]

### <font color="green">Filter the query</font>

We want to extract from the database only the columns  `name`, `distance` and `surface_area` for the planets that have at least one moon.

In [ ]:
query_partial_planets = """
SELECT name, distance, surface_area
FROM planets
WHERE num_moons > 0
"""

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name)
partial_results = read_query(connection, query_partial_planets)

In [ ]:
for result in partial_results:
    print(result)

### <font color="green">Fetch one record of a table</font>

- We use the `fetchone()` method to retrieve the next row of a query result set and return a single sequence, or None if no more rows are available.
- By default, the returned tuple consists of data returned by the MySQL server, converted to Python objects.

In [ ]:
def fetch_one_record(
    connection: mysql.connector.connection_cext.CMySQLConnection, 
    query: str
):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchone()   
    except Error as err:
        print(f"Error: '{err}'")
    return result

In [ ]:
connection = create_database_connection("localhost", "root", root_password, db_name)
one_record = fetch_one_record(connection, query_planets)

In [ ]:
one_record

# <font color='red'>Reference Documents</font>

- [Unveiling the Power of SQL with Python](https://www.upgrad.com/tutorials/software-engineering/sql-tutorial/sql-with-python/) from upGrad
- [How to Create and Manipulate SQL Databases with Python](https://www.freecodecamp.org/news/connect-python-with-sql/) from freeCodeCamp
- [Python SQLite tutorial using sqlite3](https://pynative.com/python-sqlite/) from PYnative Python Programming.
- [Cheatsheet: SQLite](https://www.devtoolsdaily.com/cheatsheets/sqlite/) from Devtoolsdaily.
- [Cheatsheet: SQL](https://www.devtoolsdaily.com/cheatsheets/sql/) from Devtoolsdaily.